html {
  scroll-behavior: smooth;
}

#body {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 28, 28);
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
     -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* padrão */
    touch-action: manipulation; /* melhora clique/tap no mobile */
    
}


/* topo da pagina */
header {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 22, 22);
    border-bottom: 1px solid rgb(5, 139, 163);
    z-index: 1000;

}

/* barra de navegação */
nav ul {
    color: white;
    display: flex;
    list-style: none;
    gap: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    /* ExtraLight */
    font-style: italic;

}

nav a:hover {
    cursor: pointer;
    color: rgb(5, 139, 163);

}

nav a {
    text-decoration: none;
    color: white;
}

#presentation {
    color: white;
    margin-top: 150px;
    margin-right: 750px;

}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    margin: 0;
    line-height: 1.0;
    font-size: 50px;

}

#dev {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    /* ExtraLight */
    font-style: italic;
}

#dev {
    margin: 8px 0 10px 0;
    font-weight: 200;
    font-style: italic;
    color: #ffffff;
}

/* Botão baixar o CV */
#buttonCV {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    background-color: rgba(33, 172, 172, 0.897);
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(249, 252, 252);
    box-shadow: 0 1px 10px rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#buttonCV:hover {
    background-color: rgb(216, 211, 211);
    color: rgba(19, 99, 99, 0.897);
    border: 2px solid rgba(19, 99, 99, 0.897);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* --- CARROSSEL DE PALAVRAS --- */
.role-wrap {
    display: inline-block;
    text-align: left;
}



/* Container do carrossel */
.word-carousel {
    height: 62px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

}

/* Texto */
.carousel-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 22px;
    color: #00ffff;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 400ms ease, transform 400ms ease;
    padding: 4px 10px;
    position: relative;
    z-index: 2;
    /* texto acima do quadrado */
}

/* Fundo azul que aparece */
.carousel-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 255, 0.15);
    /* ciano translúcido */
    border: 1px solid #00ffff;
    border-radius: 6px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease, opacity 300ms ease;
    z-index: -1;
}

/* Quando a palavra aparece */
.carousel-text.show {
    opacity: 1;
    transform: translateY(0);
}

/* Ativa a animação do quadrado */
.carousel-text.show::before {
    opacity: 1;
    transform: scaleX(1);
}

/* Notebook Azul */
#notebookAzul {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 120px;
    top: 80px;
}

/*---------------------------------------- Sobre Mim -------------------------------------------------*/

#aboutMe {
    position: absolute;
    left: 300px;
    transform: translateY(180px);
    /* empurra pra baixo sem quebrar layout */
    padding: 50px 20px;
}

.about-container {
    display: flex;
    align-items: center;
    /* centraliza verticalmente */
    justify-content: center;
    margin-left: 500px;
}

/* FOTO CIRCULAR */
.myPhoto {
    flex: 0 0 250px;
    /* largura fixa */
    display: flex;
    justify-content: center;
    margin-left: -150px;
}

.circularPhoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
    border: 3px solid #00ffff;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circularPhoto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
}

#aboutBox {
    width: 750px;
    height: 280px;
    background-color: rgb(16, 17, 17);
    border: 1px solid rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: -50px;
}

#titleAbout {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    margin-left: -250px;
}

/* TEXTO */
.textAbout {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    flex: 1;
    /* ocupa o espaço restante */
    min-width: 200px;
    /* evita que fique muito estreito */
    padding-left: 10px;

}

/*-------------------------------------- Projetos --------------------------------------------*/

#projects {
    position: absolute;
    left: 100px;
    width: 100%;
    transform: translateY(900px);
    /* empurra pra baixo sem quebrar layout */
    padding: 50px 20px;
}

#titleProject {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;

}

#textProject1 {
    margin-left: 10px;
}

#projectCarousel {
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 60px;
    height: auto;

}


#projectCarouselWrapper {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.projectCards {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: rgb(16, 17, 17);
    gap: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 10px 10px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectsImage {
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    top: 5px;

}

.projectsImage1 {
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    top: 5px;

}

.projectsImage2 {
    width: 250px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    top: 5px;

}

.imageRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.photoLink {
    width: 50px;
    height: 50px;
}

.projectWord {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: white;
    font-size: 16px;
    padding: 6px;
}

.projectCarouselWrapper {
    width: 100%;
    position: relative;
    /* para a barra absoluta ficar dentro do wrapper */
    height: auto;
    padding: 20px;
}

.customScrollbar {
    width: 100%;
    height: 8px;
    background-color: rgba(0, 255, 255, 0.5);
    /* a barra de fundo */
    position: absolute;
    bottom: -15px;
    /* deixa ela logo abaixo das cards */
    left: 0;
    border-radius: 6px;
    z-index: 1;
}

.customThumb {
    height: 100%;
    width: 60px !important;
    /* largura inicial */
    background-color: rgb(245, 242, 242);
    border-radius: 6px;
    position: absolute;
    left: 0;
    cursor: grab;
    z-index: 2;
}

.customThumb::active {
    cursor: grabbing;
    background-color: white;
}

/* evitar que o texto selecione */
.projectCarousel,
.projectCards,
.customScrollbar,
.customThumb {
    user-select: none;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge antigo */
}


/*------------------------------- Formação --------------------------------------*/

#Training {
    position: absolute;
    left: 50px;
    width: 100%;
    transform: translateY(1600px);
    /* empurra pra baixo sem quebrar layout */
    padding: 50px 20px;
}

.buttonFC {
    display: flex;
    gap: 60px;
    margin-top: -50px;
    margin-left: 10px;
}

.buttonTraining {
    all: unset;
    /* remove quase todos os estilos padrões */
    cursor: pointer;
    /* mantém o cursor de mãozinha */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 180px;
    height: 50px;
    z-index: 10;

}

.buttonTraining2 {
    all: unset;
    /* remove quase todos os estilos padrões */
    cursor: pointer;
    /* mantém o cursor de mãozinha */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 100px;
    height: 50px;
    z-index: 10;
}

.buttonTraining2:hover {
    border-bottom: 4px solid rgba(0, 255, 255, 0.5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.buttonTraining:hover {
    border-bottom: 4px solid rgba(0, 255, 255, 0.5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#titleTraining {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    position: relative;
    top: -50px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.tabs2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#academyBox {
    width: 420px;
    height: 350px;
    background-color: rgb(16, 17, 17);
    margin-top: 40px;
    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#academyBox2 {
    width: 420px;
    height: 350px;
    background-color: rgb(16, 17, 17);
    margin-top: 40px;
    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.trainingPhoto {
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    border-radius: 10px;
    padding-left: 7px;
}

#titleEstacio {
    padding-left: 70px;
    margin-top: -20px;
}

#titleProz {
    padding-left: 70px;
    margin-top: -20px;
}

.textTraining {
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: white;
    font-size: 12px;
}

#certificationBox {
    width: 420px;
    height: 350px;
    background-color: rgb(16, 17, 17);
    margin-top: 40px;
    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: none;
}

#certificationBox2 {
    width: 420px;
    height: 350px;
    background-color: rgb(16, 17, 17);
    margin-top: 40px;
    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: none;
}

#academyBox1,
#academyBox2,
#certificationBox1,
#certificationBox2 {
    transition: opacity 0.4s ease;
}

/*------------------------------- Tecnologia --------------------------------------*/

#technology {
    position: absolute;
    left: 50px;
    width: 100%;
    transform: translateY(2200px);
    /* empurra pra baixo sem quebrar layout */
    padding: 50px 20px;
}

#titleTechnology {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
}

#technologyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px;

}

#technologyBox {
    width: 820px;
    height: 350px;
    background-color: rgb(16, 17, 17);
    margin-top: 40px;
    margin-right: 120px;
    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 100;

}

/* configuraçao de algumas imagens */
#photoPost {
    width: 160px;
    height: 100px;
}

#textTechnology {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    top: -200px;
    left: 450px;

}

.techs {
    display: flex;
    flex-wrap: wrap;
    /* permite quebrar linha automaticamente */
    justify-content: center;
    /* centraliza as linhas horizontalmente */
    gap: 30px;
    margin-top: 10px;
}

.tech {
    display: flex;
    flex-direction: column;
    /* imagem em cima, texto embaixo */
    align-items: center;
    /* centraliza o span abaixo da imagem */
    width: 100px;
}

.tech img {
    width: 80px;
    /* largura fixa */
    height: 80px;
    /* altura fixa */
    object-fit: contain;
    /* mantém a proporção da imagem */
    background-color: rgb(16, 17, 17);
    /* opcional: para uniformizar visual */
    padding: 5px;

}

.tech span {
    white-space: nowrap;
    margin-top: 5px;
    /* espaço entre a imagem e o texto */
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    gap: 60px;
}

/* Configuração Imagens da Tecnologia */

/* Div1 */
.photoLin {
    width: 100px;
    height: 80px;
}


 /*------------------------------- Sessão Contato -----------------------------------*/

    #contact {
        position: absolute;
        left: 50px;
        width: 100%;
        transform: translateY(3150px);
        padding: 50px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contactBox {
        width: 700px;
        height: 200px;
        background-color: rgb(16, 17, 17);
        display: flex;
        border-radius: 20px;
        border: 1px solid rgba(0, 255, 255, 0.5);
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-left: -150px;
        margin-top: -100px;
        align-items: center;
        justify-content: center;
 
    }
    #titleContact {
    position: relative;
    top: -240px;
    left: -350px;
     font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    padding-left: 10px;
    }

    #nameContacto {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-style: italic;
        position: relative;
        top:-130px;
        left: 280px;
      
    }

    #contactoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        position: relative;
        left: -100px;
        

    }

    #zap img{
        width: 150px;
        height: 120px;
        gap: 10px;
    }

    .contactoLink img {
        width: 120px;
        height: 120px;
        gap: 10px;
       

    }



/*----------------------------- Responsividade -------------------------------*/

@media (max-width: 600px) {
    #notebookAzul {
        display: none;
    }

    .nave li {
        font-size: 12px;
    }


    #presentation {
        margin: 100px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .name {
        gap: 0px;
    }

    .carousel-text {
        position: relative;
        left: 63px;
        top: 10px;
    }

    #buttonCV {
        margin-top: 60px;
        margin-left: 60px;
    }

}

@media (max-width: 600px) {
    nav ul li:nth-child(0),
    /* Formação */
    nav ul li:nth-child(3),
    /* Conquistas */
    nav ul li:nth-child(4)

    /* Certificações */
        {
        display: none;
        /* esconde os itens */
    }

    /*-------------------------------- Responsividade Apresentação ---------------------------------*/


 
    

#body {
      overflow-x: hidden;
    touch-action: pan-y;
     scroll-behavior: smooth;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 28, 28);
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
     -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* padrão */
    touch-action: manipulation; /* melhora clique/tap no mobile */
}
    #presentation {
        margin-top: 100px;
        margin-left: -30px;
        padding-left: 40px;
    }

    .name {
        font-size: 40px;
        padding-right: 10px;

    }
    #dev {
        font-size: 14px;
    }
    .word-carousel {
        margin-left: -20px;
    }
    #buttonCV {
          margin-left: 40px;

    }


    /* -------------------------------------Responsividade Barra topo ------------------------------------- */

    /* topo da pagina */
header {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 22, 22);
    border-bottom: 1px solid rgb(5, 139, 163);
    z-index: 1000;

}

/* barra de navegação */
nav ul {
    color: white;
    display: flex;
    list-style: none;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    /* ExtraLight */
    font-style: italic;
    margin-left: -60px;

}

nav a:hover {
    cursor: pointer;
    color: rgb(5, 139, 163);

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}


    /*-------------------------------- Responsividade Sessão Sobre Mim ---------------------------------*/

    #aboutMe {
    position: relative; /* melhor que absolute no mobile */
    margin-left: -110px;
    height: auto;
    margin-top: 550px; /* empurra naturalmente para baixo */
    padding: 50px 20px;

    }

    .aboutContainer {
        margin-top: -700px;
        margin-left: 50px;
        padding-left: 30px
    }

    .myPhoto {
        position: relative;
        right: 160px;
        width: 200px;
        height: 160px;
    }


    #titleAbout {
        position: relative;
        right: 60px;
        margin-top: 120px;
        font-size: 30px;
        margin-right: 13px;
    }

    #aboutBox {
        width: 200px;
        position: relative;
        right: 265px;

    }

    .textAbout {

        padding-right: 20px;
        padding-left: -10px;
        font-size: 9px;
    }

    /*------------------------------- Responsividade Sessão Project -----------------------------------*/
    #projects {
    position: relative;   
    margin-top: -900px;
     margin-left: 170px;
    margin-right: auto;
    width: 100%; /* ou um valor fixo, ex: 600px */
    display: flex;
    flex-direction: column; /* empilha os elementos verticalmente */
    gap: 30px; /* espaço entre os projetos */
    }

    #titleProject {
        margin-left: 70px;
        margin-top: 20px;
    }
    #textProject1 {
        margin-left: 30px;
    }

    #projectCarouselWrapper {
        display: flex;
    flex-direction: column; /* empilha os elementos verticalmente */
    gap: 30px; /* espaço entre os projetos */
    }

    #projectCarousel {
        width: 100%;
        height: auto;
        position: static;
         display: flex;
    flex-direction: column; /* empilha os elementos verticalmente */
    gap: 30px; /* espaço entre os projetos */
    }


    /*------------------------------------ Responsividade Formação --------------------------------------*/
    #Training {
    position: relative;   
    margin-top: -400px;
     margin-left: 450px;
     width: 50%;
    }

    .buttonFC {
        display: flex;
        gap: 40px;
        margin-top: -50px;
        margin-left: 10px;
    }

    #academyBox {
        width: 200px;
        height: 250px;
        margin-left: -200px;
       
    }

    #academyBox2 {
         width: 200px;
        height: 250px;
    }



    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-right: 80px;
        margin-left: -260px;
      
    }

    .tabs2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .trainingPhoto {
        width: 25px;
        height: 25px;
        position: relative;
        top: 15px;
        border-radius: 10px;
        padding-left: 7px;
    }

    #titleEstacio {
        padding-left: 40px;
        margin-top: -15px;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        color: white;
    }

    #titleProz {
        padding-left: 40px;
        margin-top: -10px;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        color: white;
    }

    .textTraining {
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-style: italic;
        color: white;
        font-size: 8px;
        padding-right: 10px;
    }

   

    /*------------------------------- Responsividade Sessão Tecnologia -----------------------------------*/
    #technology {
      position: relative;   
    margin-top: -600px;
     margin-left: 610px;
    margin-right: auto;
    width: 50%; /* ou um valor fixo, ex: 600px */
   
   
    }

    #titleTechnology {
        padding-left: 30px;
    }

    #technologyBox {
        width: 40%;
        height: auto;
        flex-direction: column;
        padding: 20px;
        margin-top: 100px;
        margin-left: -320px;
    }

    #textTechnology {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-style: italic;
        color: white;
        position: relative;
        top: -260px;
        font-size: 14px;
        left: -50px;
        margin-top: -40px;
         white-space: nowrap;

    }

    .techs {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .tech {
        width: 80px;
        /* diminui para caber mais por linha */
    }

    .tech img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    .tech span {
        font-size: 12px;
        white-space: nowrap;
    }

     /*------------------------------- Responsividade Sessão Contato -----------------------------------*/

     #contact {
       position: relative;   
    margin-top: -800px;
     margin-left: 80px;
    margin-right: auto;
    width: 100%; /* ou um valor fixo, ex: 600px */
     }

    #contactBox {
        width: 180px;
        height: 200px;
        background-color: rgb(16, 17, 17);
        display: flex;
        border-radius: 20px;
        border: 1px solid rgba(0, 255, 255, 0.5);
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-left: -420px;
        margin-top: -40px;
        align-items: center;
        justify-content: center;
 
    }
    #titleContact {
    position: relative;
    top: -160px;
    left: -270px;
     font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    padding-left: 15px;
    }

    #nameContacto {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-style: italic;
        position: relative;
        top:-130px;
        left: 130px;
        font-size: 12px;
        white-space: nowrap;
    }

    #contactoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        position: relative;
        left: -40px;
        

    }

    #zap img{
        width: 60px;
        height: 50px;
        gap: 5px;

    }

    .contactoLink img {
        width: 50px;
        height: 50px;
        gap: 5px;
        padding-right: 10px;
      
    }

}